[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ausplotsR"]
	path = ausplotsR
	url = https://github.com/ternaustralia/ausplotsr
